@model EventRegistration.Database.Models.Events.Event
@{
    ViewData["Title"] = Model.Name;
}

<div class="text-center">
    <h1 class="display-4">@Model.Name</h1>
    @{
        //TODO дописать
    }
</div>
