@model EventRegistration.Database.Models.Events.Event
@{
	ViewData["Title"] = Model.Name;
}

<div>
	<h1 class="display-4">@Model.Name</h1>
	<p>Дата проведения: @Model.Date.ToShortDateString()</p>
    <p>Организатор: @Model.HostName</p>
    <p>
        Описание:<br/>
        @Model.Description
    </p>

	@if (User.IsInRole("Member"))
	{
		<a href="/home/registerOnEvent/@Model.Id" class="btn btn-primary">Записаться на мероприятие</a>
	}
</div>
