@model List<EventRegistration.Database.Models.Events.Event>
@{
    ViewData["Title"] = "Мероприятия";
}
@{
    //TODO проверка на пустость
  }
<div class="text-center">
    <h1 class="display-4">Мероприятия</h1>

    <table class="table table-bordered table-active">
        <thead>
        <th>Название</th><th>Дата проведения</th><th></th>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @Model
                <td>@item.Name</td>
                <td>@item.Date.ToShortDateString()</td>
                <td><a href="/event/@item.Id"><input class="btn btn-primary" type="button" value="Подробнее"/></a></td>
            </tr>
        }
        </tbody>
    </table>
</div>
