@using EventRegistration.Services.DateTimeProvider
@model List<EventRegistration.Database.Models.Events.Event>
@inject IDateTimeProvider dateTimeProvider
@{
    ViewData["Title"] = "Мероприятия";
}

<div class="text-center">
    <h1 class="display-4">Ваши мероприятия</h1>

    @if (Model.Count > 0)
    {
        <table class="table table-bordered table-hover">
            <thead class="table-light">
            <th>Название</th><th>Дата проведения</th><th>Организатор</th><th></th>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Date.ToShortDateString()</td>
                    <td>@item.HostName</td>
                    <td>
                        @if (item.IsCanceled)
                        {
                            <span>Мероприятие отменено</span>
                        }
                        else if (item.Date > dateTimeProvider.Now())
                        {
                            <a asp-action="CancelEvent" asp-route-id="@item.Id">
                                <input class="btn btn-danger" type="button" value="Отменить"/>
                            </a>
                        }
                        else
                        {
                            <span>Мероприятие закончилось</span>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <h3>Тут пока ничего нет. <a asp-action="CreateEvent">Добавить?</a></h3>
    }

</div>
