@model EventRegistration.Requests.RegisterRequest
@{
	ViewData["Title"] = "Регистрация";
}

<div class="text-center">
	<h1 class="display-4">Регистрация</h1>
	<form method="post">
		<p>Логин:</p>
		@Html.EditorFor(m => m.Login)
		<p>Пароль:</p>
		@Html.PasswordFor(m => m.Password)
		<input class="btn btn-primary" type="submit" value="Зарегистрироваться" />
	</form>
</div>
